streamlit == 1.2.0
streamlit-ace == 0.1.1
streamlit-aggrid == 0.2.3.post2
streamlit-autorefresh == 0.0.1
Pillow
bs4 == 0.0.1
lxml == 4.8.0
requests == 2.27.1
pandas == 1.3.5
pytest
spacy == 3.2.3
SPARQLWrapper == 2.0.0
black == 21.6b0
altair == 4.2.0
