absl-py==0.15.0
adabelief-tf==0.2.1
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.0
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.11.2
black==21.6b0
blinker==1.5
blis==0.7.9
bs4==0.0.1
cachetools==4.2.4
catalogue==2.0.8
certifi==2022.12.7
charset-normalizer==2.0.12
clang==5.0
click==7.1.2
colorama==0.4.6
cymem==2.0.7
dataclasses-json==0.5.5
datasets==2.9.0
decorator==5.1.1
dill==0.3.6
editdistance==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.0
filelock==3.9.0
flatbuffers==1.12
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.30
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.58.0
grpcio==1.51.1
h5py==3.1.0
huggingface-hub==0.12.0
idna==3.4
imageio==2.25.1
importlib-metadata==6.0.0
importlib-resources==5.10.2
iniconfig==2.0.0
isodate==0.6.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keras==2.6.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
Levenshtein==0.20.9
lxml==4.8.0
Markdown==3.4.1
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mypy-extensions==1.0.0
networkx==3.0
nptyping==1.4.4
numpy==1.19.5
oauthlib==3.2.2
opencv-python-headless==4.7.0.68
openpyxl==3.1.1
opt-einsum==3.3.0
packaging==23.0
paiargparse==1.1.2
pandas==1.3.5
pathspec==0.11.0
pathy==0.10.1
Pillow==9.4.0
pip==23.0
pkgutil_resolve_name==1.3.10
pluggy==1.0.0
pooch==1.4.0
preshed==3.0.8
prettytable==3.6.0
promise==2.3
protobuf==3.19.6
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pydeck==0.8.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.3
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-Levenshtein==0.20.9
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
rapidfuzz==2.13.7
rdflib==6.2.0
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.9
sacremoses==0.0.53
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
seqeval==1.2.2
setuptools==67.3.1
simplejson==3.18.3
six==1.15.0
smart-open==6.3.0
smmap==5.0.0
soupsieve==2.4
spacy==3.2.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
srsly==2.4.5
streamlit==1.2.0
streamlit-ace==0.1.1
streamlit-aggrid==0.2.3.post2
streamlit-autorefresh==0.0.1
tabulate==0.9.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.5
tensorflow-addons==0.14.0
tensorflow-datasets==3.0.0
tensorflow-estimator==2.6.0
tensorflow-metadata==1.12.0
termcolor==1.1.0
tfaip==1.2.6
thinc==8.0.17
threadpoolctl==3.1.0
tifffile==2023.2.3
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
typeguard==2.13.3
typer==0.4.2
typing-extensions==3.10.0.2
typing-inspect==0.8.0
typish==1.9.3
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
validators==0.20.0
wasabi==0.10.1
watchdog==2.2.1
wcwidth==0.2.6
Werkzeug==2.2.3
wheel==0.37.1
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
xxhash==3.2.0
yarl==1.8.2
zipp==3.13.0